/PruebaGUI/nbproject/private/
/PruebaGUI/build/
/Ejercicio_Mazo_De_Cartas/build/
/Ejercicio_Gimnasio/nbproject/private/
/Ejercicio_Gimnasio/build/
/Ejercicio_Logistica/nbproject/private/
/Ejercicio_Logistica/build/
/Ejercicio_Equals/nbproject/private/
/Ejercicio_Equals/build/
/Ejercicio_Exceptions/nbproject/private/
/Ejercicio_Exceptions/build/
/Ejercicio_Parcial_Biblioteca/nbproject/private/
/Ejercicio_Parcial_Biblioteca/build/
/MetodosDefault/nbproject/private/
/Intergenerica/nbproject/private/
/Intergenerica/build/
/ProyectoAlmacen/nbproject/private/
/ProyectoAlmacen/build/
/Ordenamiento/nbproject/private/
/Ordenamiento/build/
/Proyecto_SmartWatch/nbproject/private/
/Proyecto_SmartWatch/build/
/PruebaArchivo/nbproject/private/
/PruebaArchivo/build/
/empleadosCSV/nbproject/private/
/empleadosCSV/build/
/SistemaGestiónEventosMusicales/nbproject/private/
/SistemaGestiónEventosMusicales/build/
/ProyectoFinal_GestorPersonas_CossaGonzalo/nbproject/private/
/ProyectoFinal_GestorPersonas_CossaGonzalo/build/
